.post {
  display: grid;
  grid-template-columns:
    minmax(60px, 115px)
    minmax(100px, 530px)
    minmax(150px, 430px);

  td {
    display: flex;
    align-items: center;
    padding: 10px;
    border: 1px solid #e3e6ec;

    &:nth-child(1) {
      justify-content: center;
    }
  }

 
}
